body {
    background-color: $body-color-background;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: $white;
}

* {
    &:before,
    &:after {
        box-sizing: inherit;
    }
}